body {
  width: 500px;
  height: 500px;
  background-color: green;
}

@media only screen and (min-width: 320px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: pink;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: red;
  }
}
